<h2 style="color:#194681">Hello <%=@order.first_name%>!</h2>

Re: Order #<%=@order.number%>

<p>Unfortunately, your order was rejected. There could be a number of reasons this has occurred, so if you wish to continue with this order, please drop us an email or give us a call.</p>

thank you,

<%=Shoppe.settings.store_name%>
<%=Shoppe.settings.email_address%>
