<h2 style="color:#194681">Hello <%=@order.first_name%>!</h2>

Re: Order #<%=@order.number%>

<p>We're pleased to let you know your order has been shipped!</p> 

thank you,

<%=Shoppe.settings.store_name%>
<%=Shoppe.settings.email_address%>