<h2 style="color:#194681">Hello <%=@order.first_name%>!</h2>

Re: Order #<%=@order.number%>

<p>We are pleased to let you know your order has been shipped!</p> 

Thank you for your order,

<br />
<br />

<%=Shoppe.settings.store_name%>
<br />
<%=Shoppe.settings.email_address%>